<section>
	<div class="container">
		<div>
			<div class="library">
				<h2><%= @book.title %></h2>
				<h3>by <%= @book.author %></h3>
				<div class="description">
					Description: <%= @book.description %>
				</div>
			</div>
			<div class="link">
				<form action="/edit-book/<%= @book.id %>" method="POST">
					<button>Edit Book</button>
				</form>	
				<form action="/delete-book/<%= @book.id %>" method="POST">
					<button>Delete Book</button>
				</form>							
			</div>
			<div class="link">
				<p><a href="/">Add more</a></p>
			</div>
			<div class="link">
				<p><a href="/books">Show all books</a></p>
			</div>
		</div>
	</div>
</section>

				