<section>
	 <div class="container">
	 	<form action="/update-book/<%= @book.id %>" method="POST">
			<h2><%= @book.title %></h2>
			<h3>by <%= @book.author %></h3>
			<div class="inputbox">
				<input type="text" name="title" value="<%= @book.title %>" required>
				<label for="title">TITLE</label>
			</div>	
			<div class="inputbox">
				<input type="text" name="author" value="<%= @book.author %>" required>				
				<label for="author">AUTHOR</label>
			</div>
			<div class="inputbox">
				<input type="text" name="description" value="<%= @book.description %>" required>				
				<label for="author">DESCRIPTION</label>
			</div>
			<button>Edit</button>
	 	</form>
	</div>
</section>